absl-py==0.11.0
alabaster==0.7.12
anyio
argon2-cffi
astroid
astunparse==1.6.3
async-generator==1.10
attrs
Babel
backcall
backports.functools-lru-cache==1.6.1
bleach
blinker==1.4
brotlipy==0.7.0
cachetools==4.2.1
certifi==2020.12.5
cffi
chardet
click==7.1.2
cloudpickle
colorama
cryptography
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
docutils
entrypoints
Flask==1.1.2
Flask-Mail==0.9.1
Flask-SQLAlchemy
flatbuffers==1.12
gast==0.3.3
google-auth==1.27.0
google-auth-oauthlib==0.4.2
google-pasta==0.2.0
grpcio==1.32.0
gunicorn==20.0.4
h5py==2.10.0
idna
imagesize==1.2.0
importlib-metadata
ipykernel
ipython
ipython-genutils==0.2.0
isort
itsdangerous==1.1.0
jedi
Jinja2
joblib
json5
jsonschema
jupyter-client
jupyter-core
jupyter-packaging
jupyter-server
jupyterlab
jupyterlab-pygments
jupyterlab-server
Keras==2.4.3
Keras-Preprocessing==1.1.2
keyring
kiwisolver
lazy-object-proxy
lxml
Markdown==3.3.4
MarkupSafe
matplotlib
mccabe==0.6.1
mistune
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
notebook
numpy
numpydoc
oauthlib==3.1.0
olefile
opt-einsum==3.3.0
packaging
pandas
pandas-datareader
pandocfilters==1.4.2
parso
patsy==0.5.1
pickleshare
Pillow
prometheus-client
prompt-toolkit
protobuf==3.15.4
psutil
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle
pycparser
pyflakes==2.2.0
Pygments
pylint
pyOpenSSL
pyparsing==2.4.7
PyQt5==5.12.3
PyQt5-sip==4.19.18
PyQtChart==5.12
PyQtWebEngine==5.12.1
pyrsistent
PySocks
python-dateutil==2.8.1
pytz
pywin32==300
pywin32-ctypes
pywinpty
PyYAML==5.4.1
pyzmq
QtAwesome
qtconsole
QtPy==1.9.0
requests
requests-oauthlib==1.3.0
rope
rsa==4.7.2
scikit-learn
scipy
Send2Trash==1.5.0
six
sniffio
snowballstemmer
Sphinx
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
spyder==3.3.6
spyder-kernels==0.5.2
SQLAlchemy
statsmodels
tensorboard==2.4.1
tensorboard-plugin-wit==1.8.0
tensorflow-estimator==2.4.0
tensorflow-gpu==2.4.1
termcolor==1.1.0
terminado
testpath==0.4.4
threadpoolctl
toml
tornado
traitlets
typed-ast
typing-extensions
urllib3
wcwidth
webencodings==0.5.1
Werkzeug==1.0.1
win-inet-pton
wincertstore==0.2
workdays==1.4
wrapt
xgboost==0.90
zipp
